<!-- same as /index.html 
  no (header,photo,footer)
  header:
  search bar  
 -->

 <!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
 
   <!-- CSS & google icons & fontawesome-->
   <link rel="stylesheet" href="/assets/css/style.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
 
   <title>Hit the offers</title>
 </head>
   
 <body>
   <!-- header -->
   <div id="header"></div>
 
   <main>
 
     <!-- products -->
     <div class="container">
       <div class="row">
         <!-- card1 -->
         <div class="col s12 m4 l3 offset-m1 offset-l1 card hoverable">
         
         <!-- title -->
         <div class="row">
           <a href="#" class="col left">
             <p class="valign-wrapper">
               <strong>TITLE</strong>
             </p>
           </a>
         
         <!-- price -->
           <a href="#" class="col right">
             <p class="valign-wrapper">
               <strong>100$ 50%off</strong>
             </p>
           </a>
         </div>  
 
         <!-- image -->
         <div class="row card-image">
           <a href="/views/product/product.html">
             <img src="/assets/img/sample-1.jpg">
           </a>
         
           <!-- card title -->
           <span class="card-title">Card Title</span>
         
           <!-- cart button -->
           <a class="btn-floating halfway-fab waves-effect waves-light red" href="#">
             <i class="material-icons">add_shopping_cart</i>
           </a>
         </div>
 
         <!-- card content -->
         <div class=" row card-content">
           <p class="truncate">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
           </p>
         </div>
       
         <!-- evaluation stars -->
         <div class="row">
           <a href="#">
             <ul >
               <li class="col s1">
                 <i class="material-icons">star</i>
               </li>
               <li class="col s1">
                 <i class="material-icons">star</i>
               </li>
               <li class="col s1">
                 <i class="material-icons">star</i>
               </li>
               <li class="col s1">
                 <i class="material-icons">star_half</i>
               </li>
               <li class="col s1">
                 <i class="material-icons">star_border</i>
               </li>
               <li class="col s1 offset-s1">4.5/5</li>
             </ul>
           </a>
         </div>
         </div>
         <!-- card2 -->
         <div class="col s12 m4 l3 offset-m1 offset-l1 card hoverable">
         
             <!-- title -->
             <div class="row">
               <a href="#" class="col left">
                 <p class="valign-wrapper">
                   <strong>TITLE</strong>
                 </p>
               </a>
             
             <!-- price -->
               <a href="#" class="col right">
                 <p class="valign-wrapper">
                   <strong>100$ 50%off</strong>
                 </p>
               </a>
             </div>  
     
             <!-- image -->
             <div class="row card-image">
               <a href="/views/product/product.html">
                 <img src="/assets/img/sample-1.jpg">
               </a>
             
               <!-- card title -->
               <span class="card-title">Card Title</span>
             
               <!-- cart button -->
               <a class="btn-floating halfway-fab waves-effect waves-light red" href="#">
                 <i class="material-icons">add_shopping_cart</i>
               </a>
             </div>
     
             <!-- card content -->
             <div class=" row card-content">
               <p class="truncate">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
               </p>
             </div>
           
             <!-- evaluation stars -->
             <div class="row">
               <a href="#">
                 <ul >
                   <li class="col s1">
                     <i class="material-icons">star</i>
                   </li>
                   <li class="col s1">
                     <i class="material-icons">star</i>
                   </li>
                   <li class="col s1">
                     <i class="material-icons">star</i>
                   </li>
                   <li class="col s1">
                     <i class="material-icons">star_half</i>
                   </li>
                   <li class="col s1">
                     <i class="material-icons">star_border</i>
                   </li>
                   <li class="col s1 offset-s1">4.5/5</li>
                 </ul>
               </a>
             </div>
         </div>
 
         <!-- card2 -->
         <div class="col s12 m4 l3 offset-m1 offset-l1 card hoverable">
         
             <!-- title -->
             <div class="row">
               <a href="#" class="col left">
                 <p class="valign-wrapper">
                   <strong>TITLE</strong>
                 </p>
               </a>
             
             <!-- price -->
               <a href="#" class="col right">
                 <p class="valign-wrapper">
                   <strong>100$ 50%off</strong>
                 </p>
               </a>
             </div>  
     
             <!-- image -->
             <div class="row card-image">
               <a href="/views/product/product.html">
                 <img src="/assets/img/sample-1.jpg">
               </a>
             
               <!-- card title -->
               <span class="card-title">Card Title</span>
             
               <!-- cart button -->
               <a class="btn-floating halfway-fab waves-effect waves-light red" href="#">
                 <i class="material-icons">add_shopping_cart</i>
               </a>
             </div>
     
             <!-- card content -->
             <div class=" row card-content">
               <p class="truncate">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
               </p>
             </div>
           
             <!-- evaluation stars -->
             <div class="row">
               <a href="#">
                 <ul >
                   <li class="col s1">
                     <i class="material-icons">star</i>
                   </li>
                   <li class="col s1">
                     <i class="material-icons">star</i>
                   </li>
                   <li class="col s1">
                     <i class="material-icons">star</i>
                   </li>
                   <li class="col s1">
                     <i class="material-icons">star_half</i>
                   </li>
                   <li class="col s1">
                     <i class="material-icons">star_border</i>
                   </li>
                   <li class="col s1 offset-s1">4.5/5</li>
                 </ul>
               </a>
             </div>
         </div>
         <!-- card3 -->
         <div class="col s12 m4 l3 offset-m1 offset-l1 card hoverable">
         
             <!-- title -->
             <div class="row">
               <a href="#" class="col left">
                 <p class="valign-wrapper">
                   <strong>TITLE</strong>
                 </p>
               </a>
             
             <!-- price -->
               <a href="#" class="col right">
                 <p class="valign-wrapper">
                   <strong>100$ 50%off</strong>
                 </p>
               </a>
             </div>  
     
             <!-- image -->
             <div class="row card-image">
               <a href="/views/product/product.html">
                 <img src="/assets/img/sample-1.jpg">
               </a>
             
               <!-- card title -->
               <span class="card-title">Card Title</span>
             
               <!-- cart button -->
               <a class="btn-floating halfway-fab waves-effect waves-light red" href="#">
                 <i class="material-icons">add_shopping_cart</i>
               </a>
             </div>
     
             <!-- card content -->
             <div class=" row card-content">
               <p class="truncate">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
               </p>
             </div>
           
             <!-- evaluation stars -->
             <div class="row">
               <a href="#">
                 <ul >
                   <li class="col s1">
                     <i class="material-icons">star</i>
                   </li>
                   <li class="col s1">
                     <i class="material-icons">star</i>
                   </li>
                   <li class="col s1">
                     <i class="material-icons">star</i>
                   </li>
                   <li class="col s1">
                     <i class="material-icons">star_half</i>
                   </li>
                   <li class="col s1">
                     <i class="material-icons">star_border</i>
                   </li>
                   <li class="col s1 offset-s1">4.5/5</li>
                 </ul>
               </a>
             </div>
         </div><!-- card4 -->
         <div class="col s12 m4 l3 offset-m1 offset-l1 card hoverable">
         
             <!-- title -->
             <div class="row">
               <a href="#" class="col left">
                 <p class="valign-wrapper">
                   <strong>TITLE</strong>
                 </p>
               </a>
             
             <!-- price -->
               <a href="#" class="col right">
                 <p class="valign-wrapper">
                   <strong>100$ 50%off</strong>
                 </p>
               </a>
             </div>  
     
             <!-- image -->
             <div class="row card-image">
               <a href="/views/product/product.html">
                 <img src="/assets/img/sample-1.jpg">
               </a>
             
               <!-- card title -->
               <span class="card-title">Card Title</span>
             
               <!-- cart button -->
               <a class="btn-floating halfway-fab waves-effect waves-light red" href="#">
                 <i class="material-icons">add_shopping_cart</i>
               </a>
             </div>
     
             <!-- card content -->
             <div class=" row card-content">
               <p class="truncate">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
               </p>
             </div>
           
             <!-- evaluation stars -->
             <div class="row">
               <a href="#">
                 <ul >
                   <li class="col s1">
                     <i class="material-icons">star</i>
                   </li>
                   <li class="col s1">
                     <i class="material-icons">star</i>
                   </li>
                   <li class="col s1">
                     <i class="material-icons">star</i>
                   </li>
                   <li class="col s1">
                     <i class="material-icons">star_half</i>
                   </li>
                   <li class="col s1">
                     <i class="material-icons">star_border</i>
                   </li>
                   <li class="col s1 offset-s1">4.5/5</li>
                 </ul>
               </a>
             </div>
         </div><!-- card5 -->
         <div class="col s12 m4 l3 offset-m1 offset-l1 card hoverable">
         
             <!-- title -->
             <div class="row">
               <a href="#" class="col left">
                 <p class="valign-wrapper">
                   <strong>TITLE</strong>
                 </p>
               </a>
             
             <!-- price -->
               <a href="#" class="col right">
                 <p class="valign-wrapper">
                   <strong>100$ 50%off</strong>
                 </p>
               </a>
             </div>  
     
             <!-- image -->
             <div class="row card-image">
               <a href="/views/product/product.html">
                 <img src="/assets/img/sample-1.jpg">
               </a>
             
               <!-- card title -->
               <span class="card-title">Card Title</span>
             
               <!-- cart button -->
               <a class="btn-floating halfway-fab waves-effect waves-light red" href="#">
                 <i class="material-icons">add_shopping_cart</i>
               </a>
             </div>
     
             <!-- card content -->
             <div class=" row card-content">
               <p class="truncate">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
               </p>
             </div>
           
             <!-- evaluation stars -->
             <div class="row">
               <a href="#">
                 <ul >
                   <li class="col s1">
                     <i class="material-icons">star</i>
                   </li>
                   <li class="col s1">
                     <i class="material-icons">star</i>
                   </li>
                   <li class="col s1">
                     <i class="material-icons">star</i>
                   </li>
                   <li class="col s1">
                     <i class="material-icons">star_half</i>
                   </li>
                   <li class="col s1">
                     <i class="material-icons">star_border</i>
                   </li>
                   <li class="col s1 offset-s1">4.5/5</li>
                 </ul>
               </a>
             </div>
         </div><!-- card6 -->
         <div class="col s12 m4 l3 offset-m1 offset-l1 card hoverable">
         
             <!-- title -->
             <div class="row">
               <a href="#" class="col left">
                 <p class="valign-wrapper">
                   <strong>TITLE</strong>
                 </p>
               </a>
             
             <!-- price -->
               <a href="#" class="col right">
                 <p class="valign-wrapper">
                   <strong>100$ 50%off</strong>
                 </p>
               </a>
             </div>  
     
             <!-- image -->
             <div class="row card-image">
               <a href="/views/product/product.html">
                 <img src="/assets/img/sample-1.jpg">
               </a>
             
               <!-- card title -->
               <span class="card-title">Card Title</span>
             
               <!-- cart button -->
               <a class="btn-floating halfway-fab waves-effect waves-light red" href="#">
                 <i class="material-icons">add_shopping_cart</i>
               </a>
             </div>
     
             <!-- card content -->
             <div class=" row card-content">
               <p class="truncate">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
               </p>
             </div>
           
             <!-- evaluation stars -->
             <div class="row">
               <a href="#">
                 <ul >
                   <li class="col s1">
                     <i class="material-icons">star</i>
                   </li>
                   <li class="col s1">
                     <i class="material-icons">star</i>
                   </li>
                   <li class="col s1">
                     <i class="material-icons">star</i>
                   </li>
                   <li class="col s1">
                     <i class="material-icons">star_half</i>
                   </li>
                   <li class="col s1">
                     <i class="material-icons">star_border</i>
                   </li>
                   <li class="col s1 offset-s1">4.5/5</li>
                 </ul>
               </a>
             </div>
         </div><!-- card7 -->
         <div class="col s12 m4 l3 offset-m1 offset-l1 card hoverable">
         
             <!-- title -->
             <div class="row">
               <a href="#" class="col left">
                 <p class="valign-wrapper">
                   <strong>TITLE</strong>
                 </p>
               </a>
             
             <!-- price -->
               <a href="#" class="col right">
                 <p class="valign-wrapper">
                   <strong>100$ 50%off</strong>
                 </p>
               </a>
             </div>  
     
             <!-- image -->
             <div class="row card-image">
               <a href="/views/product/product.html">
                 <img src="/assets/img/sample-1.jpg">
               </a>
             
               <!-- card title -->
               <span class="card-title">Card Title</span>
             
               <!-- cart button -->
               <a class="btn-floating halfway-fab waves-effect waves-light red" href="#">
                 <i class="material-icons">add_shopping_cart</i>
               </a>
             </div>
     
             <!-- card content -->
             <div class=" row card-content">
               <p class="truncate">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
               </p>
             </div>
           
             <!-- evaluation stars -->
             <div class="row">
               <a href="#">
                 <ul >
                   <li class="col s1">
                     <i class="material-icons">star</i>
                   </li>
                   <li class="col s1">
                     <i class="material-icons">star</i>
                   </li>
                   <li class="col s1">
                     <i class="material-icons">star</i>
                   </li>
                   <li class="col s1">
                     <i class="material-icons">star_half</i>
                   </li>
                   <li class="col s1">
                     <i class="material-icons">star_border</i>
                   </li>
                   <li class="col s1 offset-s1">4.5/5</li>
                 </ul>
               </a>
             </div>
         </div><!-- card8 -->
         <div class="col s12 m4 l3 offset-m1 offset-l1 card hoverable">
         
             <!-- title -->
             <div class="row">
               <a href="#" class="col left">
                 <p class="valign-wrapper">
                   <strong>TITLE</strong>
                 </p>
               </a>
             
             <!-- price -->
               <a href="#" class="col right">
                 <p class="valign-wrapper">
                   <strong>100$ 50%off</strong>
                 </p>
               </a>
             </div>  
     
             <!-- image -->
             <div class="row card-image">
               <a href="/views/product/product.html">
                 <img src="/assets/img/sample-1.jpg">
               </a>
             
               <!-- card title -->
               <span class="card-title">Card Title</span>
             
               <!-- cart button -->
               <a class="btn-floating halfway-fab waves-effect waves-light red" href="#">
                 <i class="material-icons">add_shopping_cart</i>
               </a>
             </div>
     
             <!-- card content -->
             <div class=" row card-content">
               <p class="truncate">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
               </p>
             </div>
           
             <!-- evaluation stars -->
             <div class="row">
               <a href="#">
                 <ul >
                   <li class="col s1">
                     <i class="material-icons">star</i>
                   </li>
                   <li class="col s1">
                     <i class="material-icons">star</i>
                   </li>
                   <li class="col s1">
                     <i class="material-icons">star</i>
                   </li>
                   <li class="col s1">
                     <i class="material-icons">star_half</i>
                   </li>
                   <li class="col s1">
                     <i class="material-icons">star_border</i>
                   </li>
                   <li class="col s1 offset-s1">4.5/5</li>
                 </ul>
               </a>
             </div>
         </div>
       
       <!-- end row -->
       </div>
     <!-- end container -->
     </div>  
   </main>
 
   <!-- footer -->
   <div id="footer"></div>
 
   <!-- JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   <script src="/js/app.js"></script>
   <script src="/views/inc/header.js"></script> 
   <script src="/views/inc/footer.js"></script>
 </body>
 </html>