<!-- include header & footter -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/assets/css/style.css">

  <!--Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
  <title>profile</title>
</head>

<body>

<!-- header -->
<div id="header"></div>

<div class="">
  <ul class="collapsible">
    <!-- personal info -->
    <li>
      <div class="collapsible-header">
        <i class="material-icons">person</i>Personal Info
      </div>
      <div class="collapsible-body">
        <span>Lorem ipsum dolor sit amet.</span>
      </div>
    </li>

    <!-- my purchases -->
    <li>
      <div class="collapsible-header">
        <i class="material-icons">local_offer</i>My Purchases
      </div>
      <div class="collapsible-body">
        <span>Lorem ipsum dolor sit amet.</span>
      </div>
    </li>
    
    <!-- payment method -->
    <li>
      <div class="collapsible-header">
        <i class="material-icons">payment</i>Payment Methods
      </div>
      <div class="collapsible-body">
        <span>Lorem ipsum dolor sit amet.</span>
      </div>
    </li>
    
    <!-- notifications -->
    <li>
        <div class="collapsible-header">
          <i class="material-icons">notifications</i>Notifications Settings
        </div>
        <div class="collapsible-body">
          <div>
            <div>
                <p class="switch">Deal Notifications
                  <label class="right">
                    Off
                    <input type="checkbox">
                    <span class="lever"></span>
                    On
                  </label>
                </p>
                <p>We'll notify you about relevant and amazing deals</p>                
            </div>
          <hr>
          <p class="switch">Nearby Notifications
              <label class="right">
                Off
                <input type="checkbox">
                <span class="lever"></span>
                On
              </label>
            </p>
          </div>
          

        </div>
      </li>
    
      <!-- customer support -->
      <li>
        <div class="collapsible-header">
          <i class="material-icons">help</i>Customer Support
        </div>
        <div class="collapsible-body">
          <span>Lorem ipsum dolor sit amet.</span>
        </div>
      </li>
      
      <!-- sign out -->
      <li>
        <div class="collapsible-header">
          <i class="material-icons">power_settings_new</i>Sign Out
        </div>
        <div class="collapsible-body">
          <span>Lorem ipsum dolor sit amet.</span>
        </div>
      </li>
    </ul>
  </div>
<div id="footer"></div>

 <!-- Compiled and minified JavaScript -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/app.js"></script>
<script src="/views/inc/header.js"></script> 
<script src="/views/inc/footer.js"></script> 
</body>
</html>