<div class="">
  <ul class="collapsible">
    <!-- personal info -->
    <li>
      <div class="collapsible-header">
        <i class="material-icons">person</i>Personal Info
      </div>
      <div class="collapsible-body">
        <span>Lorem ipsum dolor sit amet.</span>
      </div>
    </li>
    <!-- my purchases -->
    <li>
      <div class="collapsible-header">
        <i class="material-icons">local_offer</i>My Purchases
      </div>
      <div class="collapsible-body">
        <span>Lorem ipsum dolor sit amet.</span>
      </div>
    </li>
    <!-- payment method -->
    <li>
      <div class="collapsible-header">
        <i class="material-icons">payment</i>Payment Methods
      </div>
      <div class="collapsible-body">
        <span>Lorem ipsum dolor sit amet.</span>
      </div>
    </li>
    <!-- notifications -->
    <li>
      <div class="collapsible-header">
        <i class="material-icons">notifications</i>Notifications Settings
      </div>
      <div class="collapsible-body">
        <div>
          <p class="switch">Deal Notifications
            <label class="right">
              Off
              <input type="checkbox">
              <span class="lever"></span>
              On
            </label>
          </p>
          <p>We'll notify you about relevant and amazing deals</p>                
        </div>
        <hr>
        <p class="switch">Nearby Notifications
          <label class="right">
            Off
            <input type="checkbox">
            <span class="lever"></span>
            On
          </label>
        </p>
      </div>
    </li>
    <!-- customer support -->
    <li>
      <div class="collapsible-header">
        <i class="material-icons">help</i>Customer Support
      </div>
      <div class="collapsible-body">
        <span>Lorem ipsum dolor sit amet.</span>
      </div>
    </li>    
    <!-- sign out -->
    <li>
      <div class="collapsible-header">
        <i class="material-icons">power_settings_new</i>Sign Out
      </div>
      <div class="collapsible-body">
        <span>Lorem ipsum dolor sit amet.</span>
      </div>
    </li>
  </ul>
</div>