<div class="container">
  <div class="row"></div>
  <!-- search bar -->
  <div class="row">
    <p>Search:</p>
  </div>
  <div class="row">
    <nav class="col light-blue">
      <div class="nav-wrapper">
        <form>
          <div class="input-field">
            <input id="search" type="search" required>
            <label class="label-icon" for="search">
              <i class="material-icons">search</i>
            </label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </div>
    </nav>
  </div>
  <!-- location search -->
  <div class="row">
    <p>Location:</p>
  </div>
  <div class="row">
    <nav class="col light-blue">
      <div class="nav-wrapper">
        <form>
          <div class="input-field">
            <input id="search" type="search" required>
            <label class="label-icon" for="search">
              <a href="">
                <i class="material-icons">location_on</i>
              </a>
            </label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </div>
    </nav>
  </div>    
  <!-- price filter -->
  <div class="row">
    <p>Budget:</p>
  </div>
  <div class="row">
    <p class="range-field">
      <input type="range" id="" min="0" max="1000" />
    </p>
  </div>    
  <!-- submit button -->
  <div class="row">
    <div class="container">

      <button class="container btn waves-effect waves-light light-blue" type="submit">SEARCH</button>
    </div>
  </div>
  <!-- category -->
  <div class="row">
    <p>Borwse by category:</p>
  </div>
  <div class="row">
    <ul>
      <!-- restaurant -->
      <li class="col s2">
        <a href="#">
          <i class="fas fa-utensils fa-3x"></i> 
        </a>
      </li>
      <!-- spa -->
      <li class="col s2">
        <a href="#">
          <i class="fas fa-spa fa-3x"></i> 
        </a>
      </li>
      <!-- t-shirt -->
      <li class="col s2">
        <a href="#">
          <i class="fas fa-tshirt fa-3x"></i> 
        </a>
      </li>                        
      <!-- car -->
      <li class="col s2">
        <a href="#">
          <i class="fas fa-car fa-3x"></i>
        </a>
      </li>

      <!-- mobile -->
      <li class="col s2">
        <a href="#">
          <i class="fas fa-mobile-alt fa-3x"></i> 
        </a>
      </li>

      <!-- travel -->
      <li class="col s2">
        <a href="#">
          <i class="fas fa-plane fa-3x"></i>
        </a>
      </li>                  
    </ul>       
  </div>
</div>