<!-- 
  # payment
  # form add comment
  # add evaluation
  # search bar bigger and include the location icon
-->

<!doctype html>
<html lang="en">
  
  <!-- head -->
  <head>
    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 

    <!-- Custom styles -->
    <link href="/assets/css/css.css" rel="stylesheet">

    <title>Hit The Offers</title>
  </head>
  
  <!-- body -->
  <body>

    <!-- header -->
    <header>
    <!-- navbar -->
      <nav class="navbar navbar-expand-lg navbar-light fixed-top"  style="background-color: #e3f2fd;">
        <div class="container">
        
          
          <!-- logo -->
          <a href="/index.html">
            <img class="rounded-circle" src="/assets/img/logo.png" alt="logo">
          </a>
          
          <!-- search bar -->
          <form class="form-inline" action="" method="get">
          
            <!-- input bar-->
            <input class="form-inline" type="text" placeholder="Search.." name="search">
          
            <!-- search icon -->
            <button type="submit">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          
            <!-- cart icon -->
            <button type="submit">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </button> 

            <!-- user icon -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fa fa-user-circle" aria-hidden="true"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                      <span class="sr-only">(current)</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                  </li>
                </ul>
            </div>              
          </form>
        </div>
      </nav>
    </header>
    
    
    <!-- Page Content -->
    
    <div class="container">
      <div class="col-lg-9">
        <div class="card mt-4">
          <!-- product name -->
          <div class="container">
            <p>
              <h1>product name</h1>
              <i class="fa fa-heart-o" aria-hidden="true"></i>
            </p>
          </div>

          <!-- bref description -->
          <div>
            <p class="card-text">(bref description) Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
          </div>
          
          <!-- evaluation stars -->
          <br>
          <div>
            <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>4.0 stars
          </div>

          <br>
          <!-- prices -->
          <div>
            
            <p>
              <strong>$100</strong> instead of $50 (50% off)
              <a name="cart" id="cart" class="btn btn-primary" href="#" role="button">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              </a>
            </p>
          </div>
        </div>


        
        <div class="col-lg-9">
          <div class="card mt-4">
            <img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt="">
            <div class="card-body">
              <h3 class="card-title">Product Name</h3>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dicta fugit fugiat hic aliquam itaque facere, soluta. Totam id dolores, sint aperiam sequi pariatur praesentium animi perspiciatis molestias iure, ducimus!</p>
            </div>
          </div>

          <!-- /.card -->
          <div class="card card-outline-secondary my-4">
            <div class="card-header">Product Reviews</div>
            <div class="card-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
              <small class="text-muted">Posted by Anonymous on 3/1/17</small>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
              <small class="text-muted">Posted by Anonymous on 3/1/17</small>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
              <small class="text-muted">Posted by Anonymous on 3/1/17</small>
              <hr>
              <a href="#" class="btn btn-success">Leave a Review</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
       <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
      </div>
    </footer>
    
    <!-- JavaScript -->
    <script src="./js/app.js"></script>
    
    <!-- jQuery, Popper,Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>




