<header class="page-header">
  <div class="navbar-fixed">
    <nav class="light blue lighten-4">
      <div class="nav">
        
        <!-- logo -->
        <a href="/" class="brand-logo left">
          <img class="circle sm logo" src="/src/public/assets/img/logo.png" alt="logo">
        </a>
        
        <!-- search bar -->
        <ul class="right">
          <li>
            <div class="input-field autocomplete">
              <!-- <input id="search" type="search" class="validate "> -->
              <!-- <label for="search">Search</label> -->
            </div>
          </li>
          <li>
            <a href="/search">
              <i class="material-icons">search</i> 
            </a>
          </li>

          <!-- shoping cart -->
          <li>
            <a href="/cart">
              <i class="material-icons">shopping_cart</i>
            </a>
          </li>
              
          <!-- menu -->
          <li >
            <div>
              <a href="/menu">
                <i class="material-icons">person</i>
              </a>
            </div>
          </li>
          
          <!-- options -->
          <li>
            <a class="dropdown-trigger" href="#" data-target="menuDrop">
              <i class="material-icons">more_vert</i>
            </a>
          </li>

          <!-- menuDrop -->
          <ul id='menuDrop' class='dropdown-content'>
            <li><a href="#!">Admin</a></li>
            <li><a href="/graphql">graphql</a></li>
            <li><a href="/mongodb">database</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a href="/product">product</a></li>
            <li><a href="/supplier">supplier</a></li>
            <li><a href="/user">user</a></li>
            <li><a href="#!"><i class="material-icons">cloud</i>cloud</a></li>
          </ul>
        </ul>
      </div>
    </nav>
  </div>
</header>